.home {
  position: relative;
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.home__pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.home__pagination-item {
  width: 36px;
  height: 36px;
  color: black;
}

.home__pagination-item--active {
  background-color: #395faa;
  color: white;
}
